body{
    width: 21cm;
    height: 29.7cm;
    margin: 30mm 25mm 30mm 25mm; 
    /* change the margins as you want them to be. */
} 

h1 {
    color: #612ea5;
}

.left-top{
    background-color: aqua;
    display: inline-block;
    size: 100px;
}